nav {
    width: 100%;
}

.header {
    width: 1230px;
    margin: 0 auto;
    height: 96px;
}

.header > #mallLogo {
    float: left;
    padding-top: 28px;
    width: 280px;
    height: 64px;
    line-height: 64px;
    position: relative;
}

#mallLogo > a {
    position: relative;
    display: block;
    height: 30px;
    overflow: hidden;
}

#mallLogo img {
    display: inline-block;
    width: 190px;
    height: 28px;
    cursor: pointer;
    vertical-align: top;
}

#mallLogo .span_mallRegister {
    font-family: "Microsoft YaHei UI Light", serif;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    vertical-align: top;
}
.news_div{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #cccccc;
}
/*数据统计部分样式*/
.data_count_div{
    overflow: hidden;
    width: 235px;
    height: 23px;
    padding: 3px 12px;
    background-color: #FEF6F4;
    border: 2px solid #F9ECEB;
    margin-bottom: 10px;
}
.data_count_div>.icon{
    width: 18px;
    height: 18px;
    fill: #FF7874;
    vertical-align: middle;
}
.data_count_div>span{
    font-size: 14px;
    color:#666;
}
.data_count_div>.data_count_title{
    padding-right: 5px;
}
.data_count_div>.data_count_value{
    color:#ff7874;
}
.data_count_div>.data_count_unit{
    padding-right: 20px;
}
.table_news_div{
    position: relative;
    min-height: 500px;
}
.table_news{
    position: relative;
    width: 20%;
    font-size: 16px;
    margin-bottom: 20px;
    table-layout: fixed;
    border-right: solid 0.5px #eeeeee;
}
.table_news>thead{
    background-color: #f5f6fb;
}
.table_news tr{
    border-bottom: 1px solid #F2F2F4;
    cursor: pointer;
}
.table_news tbody>tr:hover{
    background-color: rgb(250,250,255);
}
.table_news th{
    padding: 12px 15px;
    color:#333333;
    white-space: nowrap;
}
.table_news th:first-child{
    width: 232px;
}
.table_news th.data_info:hover{
    background-color: rgb(235,235,235);
}
.table_news td{
    padding: 10px 15px;
    color: #666666;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*加载动画样式*/
.loader{
    display: none;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;
    z-index: 999;
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-indent: -9999em;
    animation: load-effect 1s infinite linear;
}
#pageDiv{
    width: 235px;
}

.news_details{
    position: absolute;
    margin-left: 245px;
    height: 575px;
    width: 865px;
    top: 140px;
    left: 210px;
    border: solid 2px #eeeeee;
}

.news_title_name{
    font-family: "Microsoft YaHei UI Light", serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.news_details>span{
    font-family: "Microsoft YaHei UI Light", serif;
    font-size: 16px;
    padding: 5px;
}
.news_content{
    font-family: "Microsoft YaHei UI Light", serif;
    font-size: 22px;
    padding: 10px;
    white-space: pre-line;
    text-indent: 2em;
    text-align: justify!important;
}