<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.bs.mall.dao.NewsMapper">
    <resultMap id="newsMap" type="news">
        <id property="news_id" column="news_id"/>
        <result property="news_title" column="news_title"/>
        <result property="news_content" column="news_content"/>
        <result property="news_publish_date" column="news_publish_date"/>
        <result property="news_publish_person_name" column="news_publish_person_name"/>
        <result property="news_status" column="news_status"/>
        <!--association：解决多表连接时的同名字段-->
        <association property="news_publish_person_id" javaType="com.bs.mall.entity.Admin">
            <id property="admin_id" column="news_publish_person_id"/>
        </association>
    </resultMap>

    <insert id="insertOne" parameterType="news">
        INSERT INTO news(news_id,news_title,news_content,news_publish_date,news_publish_person_id,news_status)
            VALUES (
            null,
            #{news.news_title},
            #{news.news_content},
            #{news.news_publish_date},
            #{news.news_publish_person_id.admin_id},
            #{news.news_status})
    </insert>

    <update id="updateOne" parameterType="news">
        UPDATE news
        <set>
            <if test="news.news_title != null">news_title = #{news.news_title},</if>
            <if test="news.news_content != null">news_content = #{news.news_content},</if>
            <if test="news.news_publish_date != null">news_publish_date = #{news.news_publish_date},</if>
            <if test="news.news_publish_person_id.admin_id != null">news_publish_person_id = #{news.news_publish_person_id.admin_id},</if>
            <if test="news.news_status != null">news_status = #{news.news_status}</if>
        </set>
        <where>
            news_id = #{news.news_id}
        </where>
    </update>
    
    <update id="deleteOne" parameterType="int">
        UPDATE news SET news_status = 0 WHERE news_id = #{news_id}  
    </update>
    
    <select id="select" resultMap="newsMap">
        SELECT 
            news_id, 
            news_title,
            news_content,
            news_publish_date,
            admin_name as news_publish_person_name,
            news_status
        FROM news LEFT JOIN admin 
        ON news.news_publish_person_id = admin.admin_id
        <where>
            <if test="news != null">
                <if test="news.news_title != null">news_title LIKE concat('%',#{news.news_title},'%')</if>
                <if test="news.news_status != null"> and news_status = #{news.news_status}</if>
            </if>
        </where>
        ORDER BY news_publish_date desc
        <if test="pageUtil != null">
            LIMIT #{pageUtil.pageStart},#{pageUtil.count}
        </if>
    </select>
    
    <select id="selectOne" resultMap="newsMap" parameterType="int">
        SELECT
            news_id,
            news_title,
            news_content,
            news_publish_date,
            admin_name as news_publish_person_name,
            news_status
        FROM news LEFT JOIN admin
        ON news.news_publish_person_id = admin.admin_id
        <where>
            news_id = #{news_id}
        </where>
    </select>
    
    <select id="selectTotal" resultType="int">
        SELECT COUNT(news_id) FROM news
        <where>
            <if test="news != null">
                <if test="news.news_title != null">news_title LIKE concat('%',#{news.news_title},'%')</if>
                <if test="news.news_status != null">and news_status = #{news.news_status}</if>
            </if>
        </where>
    </select>
</mapper>